In [1]:
pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
pip install --upgrade git+https://github.com/tweepy/tweepy@master

Collecting git+https://github.com/tweepy/tweepy@master
  Cloning https://github.com/tweepy/tweepy (to revision master) to /tmp/pip-req-build-e8avc59h
  Running command git clone -q https://github.com/tweepy/tweepy /tmp/pip-req-build-e8avc59h
Requirement already satisfied: requests<3,>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.0.0a0) (2.23.0)
Requirement already satisfied: requests_oauthlib<2,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.0.0a0) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0a0) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests_oauthlib<2,>=1.0.0->tweepy==4.0.0a0) (3.1.1)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py) ... done
  Created wheel for tweepy: filename=tweepy-4.0.0a0-py2.py3-none-any.whl size=59146 sha256=dcf29e7fc26db66a5878ff9cf1b65ae4c56646abc7f2701c29945344bc20c1b8
  Stored in directory: /tmp/pip-ephem-wheel-cache-iasyysh8/wheels/16/9a/c3/625d7ba6ab96350d1dc0ec8cc4b20958f1b677622978080028
Successfully built tweepy
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
Successfully installed tweepy-4.0.0a0

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [5]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil) (1.15.0)

In [122]:
# Dependencies and Setup
import tweepy as tw
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta
import csv
import pandas as pd
import numpy as np

#from api_keys import consumer_key,consumer_secret,access_token,access_secret,env_name

In [ ]:
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [87]:
#Credenciales de FER
consumer_key = "jCruB2URIpOgvSUtcDEHwawrl"
consumer_secret = "qHr73xJuXdilVD3f2QS7mlpCtMnfb1lx5JnFROcKsmDMcjtu4j"
access_token = "16157274-aHyDpy5SQ41HbzqwTZbMTV5Cyzebz4K3uttT9m6eB"
access_secret = "vOmZ0suDKGloPVDcKhYnj1kr0K0yQXYgl2sdkhN87oYW1"
env_name = "robmirtest2"

In [55]:
#Credenciales de Sonia
#consumer_key = '5LEPRwBHiS79rhHimqz1vCbks'
#consumer_secret = '61WNxMM5whpzse34PzDnGUBDnit9GWSrvRPzhMFpJHFKUtUKcs'
#access_token =	'883171617051955205-PElNmMWv3pl0pKMUEtLLZBq7jvBO6rc'
#access_secret =	'rWMA8IbYoWjFYbhVFi2CURyVCTZGCPatFRt1AzDvk5zR0'
#env_name = "searchfullarchive"

In [ ]:
url_base = 'postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres'
print(url_base)
engine = create_engine(url_base)

postgresql://root:9tckay8Bv^9e@database-2.cfzewqbxonfb.us-east-2.rds.amazonaws.com:5432/postgres

In [88]:
# Authenticate Bearer token
#auth = tw.AppAuthHandler(consumer_key, consumer_secret)

#Authenticate with OAuth
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tw.API(auth, wait_on_rate_limit=True)

In [93]:
# Search Parametres
date_since_aug = '202008010000'
date_until_aug = '202008300000'
date_since_sep = '202009010000'
date_until_sep = '202009300000'

**Getting tweets**

In [110]:
# Define function to get the tweets

def get_tweets(from_date, to_date):
    
    tweets = tw.Cursor(api.search_30_day,
              label=env_name,                       
              query='(Paramount OR Start OR Netflix OR "Amazon Prime Video" OR "Disney Plus" OR "HBO Max" OR "Apple TV") lang:es place_country:MX',
              fromDate=from_date,
              toDate=to_date,
              #fromDate='202108100000',
              #toDate='202008300000',              
              ).items(1000)
    
    tweet_list = []
    for tweet in tweets:
      tweet_list.append(['',tweet.id, tweet.text, tweet.user.id, tweet.user.screen_name,tweet.created_at,
                         tweet.favorite_count, tweet.retweet_count,tweet.user.verified,tweet.user.location,
                         tweet.user.friends_count, tweet.user.followers_count])
# Create dataframe
    df = pd.DataFrame(tweet_list, columns=['key_word','id', 'tweet','user_id','user_name','date',
                                           'like','retweet','verified','location',
                                           'friends','followers'])
    return df

In [111]:
# Call functions to create dataframes
df_aug = get_tweets(date_since_aug, date_until_aug)
df_sep = get_tweets(date_since_sep, date_until_sep)

In [116]:
df1.size

7293

In [115]:
df1.head(100)

                     id  ... followers
0   1430637517565423622  ...       188
1   1430632058192384011  ...       175
2   1430621028363894786  ...      4057
3   1430609622923161603  ...     28450
4   1430607947550318595  ...     31697
..                  ...  ...       ...
95  1429672011643559937  ...       206
96  1429668882441281539  ...       399
97  1429667834263752710  ...       351
98  1429665949314019330  ...       604
99  1429665740953559332  ...       604

[100 rows x 11 columns]

In [108]:
df1.size

11000

In [ ]:
# Concatenate dataframe
frames = [df1, df2, df3, df4, df5, df6, df7]
result = pd.concat(frames)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 894 entries, 0 to 723
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   key_word   894 non-null    object
 1   id         894 non-null    object
 2   tweet      894 non-null    object
 3   user_id    894 non-null    object
 4   user_name  894 non-null    object
 5   date       894 non-null    datetime64[ns]
 6   like       894 non-null    object
 7   retweet    894 non-null    object
 8   verified   894 non-null    object
 9   location   894 non-null    object
 10  friends    894 non-null    object
 11  followers  894 non-null    object
dtypes: datetime64[ns](1), object(11)
memory usage: 90.8+ KB

In [ ]:
tweet = result[['id','tweet','user_id','date','key_word','like','retweet']]
tweet = tweet.drop_duplicates(subset=['id'])
tweet = tweet.set_index('id')
tweet.head()

,tweet,user_id,date,key_word,like,retweet
id,,,,,,
1427416473853648898,Edit: Cambio/intercambio cuenta o perfil de HB...,719268860877115392,2021-08-16 23:46:22,Paramount,0,0
1427416112149454849,me descargue Paramount+ solo para poder ver to...,809227934649217024,2021-08-16 23:44:55,Paramount,0,0
1427415689036500998,¬°Los servicios de streaming mas populares del ...,751447936735842304,2021-08-16 23:43:15,Paramount,19,2
1427415304599216137,"@jhorsue Tengo Disney+, HBO Max, Apple TV+, Yo...",719268860877115392,2021-08-16 23:41:43,Paramount,0,0
1427415159958614022,"@CableFibertel Hola, me suscribi a Paramount e...",301418013,2021-08-16 23:41:08,Paramount,0,0

In [ ]:
user = result[['user_id','user_name','verified','location', 'friends', 'followers']]
user = user.drop_duplicates(subset=['user_id'])
user = user.set_index('user_id')
user.head()

,user_name,verified,location,friends,followers
user_id,,,,,
719268860877115392,dxlcve,False,,889,274
809227934649217024,ConstanceOcampo,False,"R√≠o Gallegos,Santa Cruz",117,91
751447936735842304,T19Joa,False,"Corto Maltese, Argentina",4325,1139
301418013,Cinalas,False,Argentina,394,40
365660218,LaVarianteOmega,False,"Palmira, Colombia",4888,4093

In [ ]:
# Dataframe
user.to_sql('user',engine,if_exists='append',index_label= 'user_id')

In [ ]:
# Dataframe
tweet.to_sql('tweet',engine,if_exists='append',index_label= 'id')

**Previous steps**

In [ ]:
# Export to cvs sep without commas
#result.to_csv('tweets.csv', sep='|', index=False )

In [ ]:
# Export to csv muestra
#result['tweet'].to_csv('Muestra.csv')

In [ ]:
#result = result.set_index('id')

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.coordinates, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location]) # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet', 'Id', 'retweet_count', 'like_count',
                                           #'coordinates', 'followers_count','followees', 'location'])

In [ ]:
#tweet_list = []
    #for tweet in tweets:
      #tweet_list.append([tweet.created_at, tweet.text, tweet.id, tweet.user.screen_name,tweet.user.verified, tweet.retweet_count, 
                         #tweet.favorite_count, tweet.user.followers_count,
                         #tweet.user.friends_count, tweet.user.location] # Create dataframe
    #df = pd.DataFrame(tweet_list, columns=['date', 'tweet', 'id', 'user_name', 'verified', 'retweet_count', 'like_count',
                                           #'followers_count','followees', 'location'])
    #return df

In [ ]:
#search_words = ['Netflix OR Paramount OR Disney Plus OR HBO Max OR Start OR Apple TV OR Amazon Prime Video']
#search_words = ['Netflix']#date_since = "2021-08-16"

#tweets = tw.Cursor(api.search,#              q=search_words,#              lang="es",#              since=date_since,#              wait_on_rate_limit=True#              ).items(100)

In [ ]:
#tweet_list = []
#with open('output2.csv', 'w') as f:
#  writer = csv.writer(f, delimiter='|')
#  for tweet in tweets:
#    writer.writerow([tweet.created_at, tweet.text])
#    tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#df.head

In [ ]:
#search_words = ['Paramount']
#date_since = "2021-08-16"

In [ ]:
#tweets = tw.Cursor(api.search,
#              q=search_words,
#              lang="es",
#              since=date_since
#              ).items(1000)

In [ ]:
#tweet_list = []
#for tweet in tweets:
#  tweet_list.append([tweet.created_at, tweet.text])

In [ ]:
#df2 = pd.DataFrame(tweet_list, columns=['Date', 'Tweet'])

In [ ]:
#frames = [df, df2]
#result = pd.concat(frames)

In [ ]:
#result

                   Date                                              Tweet
0   2021-08-21 04:33:06  ‚òÄÔ∏è Zenimation de Disney+ convierte escenas cl√°...
1   2021-08-21 04:25:01  Soy yo o la plataforma de disney plus est√° bie...
2   2021-08-21 04:17:14  Amix, pr√©stenme su cuenta de Disney plus y la ...
3   2021-08-21 04:16:30  Una no puede ver una pel√≠cula online porque te...
4   2021-08-21 04:13:56  @jungkookanojo omgg yo ahora veo star vs las f...
..                  ...                                                ...
995 2021-08-18 12:34:28  Que las marcas que hayan elegido para represen...
996 2021-08-18 12:34:25  @JorgeRieraLopez No parece. Vendr√° todo aqu√≠, ...
997 2021-08-18 12:33:51  RT @enekoruizj: En 2022, tenemos nueva platafo...
998 2021-08-18 12:33:37  El servicio de streaming SkyShowtime llegar√° a...
999 2021-08-18 12:33:36  RT @MissMacGuffin: El plot twist del verano en...

[2000 rows x 2 columns]